*{
    margin: 0;
    padding: 0;
    
}
body
{
    background-size: cover;
    background-color: center;
    font-family: sans-serif;
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/*background-color: #ecf0f1;*/
	background-image: url(shashank.jpg);
}
.form-box
{
    width: 500px;
    background: rgba(0,0,0,0.8);
    margin: 12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}
h1
{
    text-align: center;
    margin-bottom: 40px;
    
}
.input-box
{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}
.input-box input
{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}
::placeholder
{
    color: #ccc;
    
}
.fa
{
    margin-right: 10px;
}
.eye
{
    position: absolute;
}
#hide1
{
    display: none;
    
}
.login-btn
{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}
.login-btn:hover
{
    color: #fff;
    background-color: black;
}

a
{
    color: yellow;
    text-decoration: blink;
}
a:hover
{
    color: skyblue;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
::placeholder {
    color:aliceblue;
    opacity: 0.8; /* Firefox */
}







